
        <div class="cart_extra cart_extra_2">
            <div class="cart_extra_content cart_extra_total">
                <div class="cart_extra_title">Cart Total</div>
                <ul class="cart_extra_total_list">
                    <li class="d-flex flex-row align-items-center justify-content-start">
                        <div class="cart_extra_total_title">Subtotal</div>
                        <div class="cart_extra_total_value ml-auto">$29.90</div>
                    </li>
                    <li class="d-flex flex-row align-items-center justify-content-start">
                        <div class="cart_extra_total_title">Shipping</div>
                        <div class="cart_extra_total_value ml-auto">Free</div>
                    </li>
                    <li class="d-flex flex-row align-items-center justify-content-start">
                        <div class="cart_extra_total_title">Total</div>
                        <div class="cart_extra_total_value ml-auto">$29.90</div>
                    </li>
                </ul>
                <div class="checkout_button trans_200"><a routerLink="/checkout">proceed to checkout</a></div>
            </div>
        </div>
