<div class="checkout_home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../../../../assets/images/checkout.jpg" data-speed="0.8"></div>
		<div class="checkout_home_container">
			<div class="checkout_home_content">
				<div class="checkout_home_title">Checkout</div>
				<div class="breadcrumbs">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li><a routerLink="/home">Home</a></li>
						<li><a routerLink="/cart">Your Cart</a></li>
						<li>Checkout</li>
					</ul>
				</div>
			</div>
		</div>
	</div>