<div class="cat_products">

		<!-- Sorting & Filtering -->
		<div class="cat_products_bar">
			<app-categories-filter></app-categories-filter>
        </div>
        
		<div class="cat_section_container">
			<div class="cat_container">
				<div class="row">
					<div class="col">
						<div class="cat_products_container grid">
							
							<!-- Product -->
							<div class="cat_product grid-item hot">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_1.jpg" alt="">
										<div class="cat_product_tag">hot</div>
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">long red shirt</a></div>
										<div class="cat_product_price">$39.90</div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item">
								<div class="cat_product_inner">
									<div class="cat_product_image"><img src="../../../../assets/images/product_2.jpg" alt=""></div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">hype grey shirt</a></div>
										<div class="cat_product_price">$19.50</div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item sale">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_3.jpg" alt="">
										<div class="cat_product_tag">sale</div>
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">long sleeve jacket</a></div>
										<div class="cat_product_price">$32.20<span>RRP 64.40</span></div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_4.jpg" alt="">
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">denim men shirt</a></div>
										<div class="cat_product_price">$59.90</div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_5.jpg" alt="">
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">long red shirt</a></div>
										<div class="cat_product_price">$79.90</div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item new">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_6.jpg" alt="">
										<div class="cat_product_tag">new</div>
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">hype grey shirt</a></div>
										<div class="cat_product_price">$59.90</div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_7.jpg" alt="">
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">long sleeve jacket</a></div>
										<div class="cat_product_price">$15.90</div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item sale">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_8.jpg" alt="">
										<div class="cat_product_tag">sale</div>
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">denim men shirt</a></div>
										<div class="cat_product_price">$43.99<span>RRP 64.40</span></div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item hot">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_9.jpg" alt="">
										<div class="cat_product_tag">hot</div>
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">long red shirt</a></div>
										<div class="cat_product_price">$39.90</div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item">
								<div class="cat_product_inner">
									<div class="cat_product_image"><img src="../../../../assets/images/product_10.jpg" alt=""></div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">hype grey shirt</a></div>
										<div class="cat_product_price">$19.50</div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item sale">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_11.jpg" alt="">
										<div class="cat_product_tag">sale</div>
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">long sleeve jacket</a></div>
										<div class="cat_product_price">$32.20<span>RRP 64.40</span></div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_12.jpg" alt="">
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">denim men shirt</a></div>
										<div class="cat_product_price">$59.90</div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item hot">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_13.jpg" alt="">
										<div class="cat_product_tag">hot</div>
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">long red shirt</a></div>
										<div class="cat_product_price">$39.90</div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item new">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_14.jpg" alt="">
										<div class="cat_product_tag">new</div>
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">hype grey shirt</a></div>
										<div class="cat_product_price">$19.50</div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item sale">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_15.jpg" alt="">
										<div class="cat_product_tag">sale</div>
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">long sleeve jacket</a></div>
										<div class="cat_product_price">$32.20<span>RRP 64.40</span></div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

							<!-- Product -->
							<div class="cat_product grid-item">
								<div class="cat_product_inner">
									<div class="cat_product_image">
										<img src="../../../../assets/images/product_16.jpg" alt="">
									</div>
									<div class="cat_product_content text-center">
										<div class="cat_product_title"><a href="product.html">denim men shirt</a></div>
										<div class="cat_product_price">$59.90</div>
										<div class="cat_product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
									</div>
								</div>	
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
