<div class="cat_home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../../../../assets/images/categories.jpg" data-speed="0.8"></div>
		<div class="cat_home_container">
			<div class="cat_home_content">
				<div class="cat_home_title">Shop</div>
				<div class="breadcrumbs">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li><a routerLink="/home">Home</a></li>
						<li><a href="#">Woman</a></li>
						<li>Accessories</li>
					</ul>
				</div>
			</div>
		</div>
	</div>