<div>
    <div>
        <app-header></app-header>
    </div>

    <div class="checkout">
            <div class="check_section_container">
                <div class="check_container">
                    <div class="row">
                        <div class="col">
                            <div class="checkout_container d-flex flex-xxl-row flex-column align-items-start justify-content-start">

                                <!-- Billing -->
                                <app-checkout-form></app-checkout-form>

                                <!-- Payment -->
                                <app-payment></app-payment>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>                            
</div>