<div class="cart_total">
        <div class="cart_total_inner checkout_box">
            <div class="checkout_title">Cart total</div>
            <ul class="cart_extra_total_list">
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="cart_extra_total_title">Subtotal</div>
                    <div class="cart_extra_total_value ml-auto">$29.90</div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="cart_extra_total_title">Shipping</div>
                    <div class="cart_extra_total_value ml-auto">Free</div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="cart_extra_total_title">Total</div>
                    <div class="cart_extra_total_value ml-auto">$29.90</div>
                </li>
            </ul>

            <!-- Payment Options -->
            <div class="payment">
                <div class="payment_options">
                    <label class="payment_option clearfix">Paypal
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <label class="payment_option clearfix">Cach on delivery
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <label class="payment_option clearfix">Credit card
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <label class="payment_option clearfix">Direct bank transfer
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>

            <div class="checkout_button trans_200"><a routerLink="/checkout">place order</a></div>
        </div>
    </div>