<div class="boxes">
		<div class="section_container">
			<div class="container">
				<div class="row">
					
					<!-- Box -->
					<div class="col-lg-4 box_col">
						<div class="box">
							<div class="box_image"><img src="../../../../assets/images/box_1.jpg" alt=""></div>
							<div class="box_title trans_200"><a routerLink="/categories">summer collection</a></div>
						</div>
					</div>

					<!-- Box -->
					<div class="col-lg-4 box_col">
						<div class="box">
							<div class="box_image"><img src="../../../../assets/images/box_2.jpg" alt=""></div>
							<div class="box_title trans_200"><a routerLink="/categories">eyewear collection</a></div>
						</div>
					</div>

					<!-- Box -->
					<div class="col-lg-4 box_col">
						<div class="box">
							<div class="box_image"><img src="../../../../assets/images/box_3.jpg" alt=""></div>
							<div class="box_title trans_200"><a routerLink="/categories">basic pieces</a></div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
