
        <div class="cart_extra cart_extra_1">
            <div class="cart_extra_content cart_extra_coupon">
                <div class="cart_extra_title">Coupon code</div>
                <div class="coupon_form_container">
                    <form action="#" id="coupon_form" class="coupon_form">
                        <input type="text" class="coupon_input" required="required">
                        <button class="coupon_button">apply code</button>
                    </form>
                </div>
                <div class="shipping">
                    <div class="cart_extra_title">Shipping Method</div>
                    <ul>
                        <li class="shipping_option d-flex flex-row align-items-center justify-content-start">
                            <label class="radio_container">
                                <input type="radio" id="radio_1" name="shipping_radio" class="shipping_radio">
                                <span class="radio_mark"></span>
                                <span class="radio_text">Next day delivery</span>
                            </label>
                            <div class="shipping_price ml-auto">$4.99</div>
                        </li>
                        <li class="shipping_option d-flex flex-row align-items-center justify-content-start">
                            <label class="radio_container">
                                <input type="radio" id="radio_2" name="shipping_radio" class="shipping_radio">
                                <span class="radio_mark"></span>
                                <span class="radio_text">Standard delivery</span>
                            </label>
                            <div class="shipping_price ml-auto">$1.99</div>
                        </li>
                        <li class="shipping_option d-flex flex-row align-items-center justify-content-start">
                            <label class="radio_container">
                                <input type="radio" id="radio_3" name="shipping_radio" class="shipping_radio" checked>
                                <span class="radio_mark"></span>
                                <span class="radio_text">Personal Pickup</span>
                            </label>
                            <div class="shipping_price ml-auto">Free</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>